body {
  background-image: url("https://ak6.picdn.net/shutterstock/videos/12615866/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#car-1 img{
  margin-top: 11em;
  width: 9em;
  height: 8em;
}

#car-2 img{
  margin-top: 3em;
  width: 9em;
  height: 8em;
}

h1 {
  color: #e6e600;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2em;
  font-family: 'Lobster Two', cursive;
}

img {
  width: 10em;
  height: 10em;
}